openapi: 3.0.3
info:
  title: Picket API
  version: 0.4.0
  description: |
    Workspace hardware shop. Customers sign in and pay USD from a wallet.
    Catalog is public. Orders and `/api/me` require the session cookie.
    Wallet loads from the billing provider arrive as signed grants.
servers:
  - url: https://invoices.reimbursor.info
tags:
  - name: auth
  - name: catalog
  - name: wallet
  - name: billing
paths:
  /api/auth/register:
    post:
      tags: [auth]
      summary: Create a wallet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                name: { type: string }
                email: { type: string, format: email }
                password: { type: string, minLength: 6 }
      responses:
        "201": { description: Account created; session cookie set }
        "409": { description: Email already used }
  /api/auth/login:
    post:
      tags: [auth]
      summary: Sign in
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        "200": { description: Session cookie set }
        "401": { description: Bad credentials }
  /api/auth/logout:
    post:
      tags: [auth]
      summary: Sign out
      responses:
        "200": { description: Cookie cleared }
  /api/me:
    get:
      tags: [wallet]
      summary: Current wallet
      description: |
        Profile, balance, and orders. Each order includes `fetch`, the
        receipt location. The account page does not render that body.
      responses:
        "200":
          description: Profile, balance, and orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, example: PO-9D29E4 }
                        fetch:
                          type: string
                          description: Receipt URL. Load it with /invoices/preview.
                          example: http://127.0.0.1:7771/billing/archive/PO-9D29E4
        "401": { description: Not signed in }
  /invoices/preview:
    get:
      tags: [billing]
      summary: Fetch a receipt
      description: |
        Server-side fetch of the `url` query parameter. Returns the
        upstream body unchanged. Requires the session cookie. The
        account page calls this and discards the response.

        `orders[].fetch` is the archive. That response does not include
        the line items. It says the billing credential was rejected and
        points at http://127.0.0.1:7771/billing/credential. Load that
        URL the same way, through this endpoint.
      parameters:
        - in: query
          name: url
          required: true
          schema: { type: string }
          description: Receipt location, usually orders[].fetch from /api/me.
      responses:
        "200":
          description: Upstream receipt body
          content:
            text/plain:
              schema: { type: string }
        "401": { description: Not signed in }
        "502": { description: The receipt URL could not be fetched }
  /api/catalog:
    get:
      tags: [catalog]
      summary: Hardware catalog
      responses:
        "200": { description: Items with price_cents }
  /api/orders:
    post:
      tags: [catalog]
      summary: Buy an item
      description: Draws USD from the signed-in wallet. Returns 402 if the balance is short.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sku]
              properties:
                sku: { type: string, example: monitor-4k }
      responses:
        "201": { description: Purchased }
        "402": { description: Insufficient funds }
  /api/cart:
    post:
      tags: [catalog]
      summary: Add an item to the cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sku]
              properties:
                sku: { type: string }
      responses:
        "200": { description: Cart contents }
        "401": { description: Not signed in }
  /api/cart/remove:
    post:
      tags: [catalog]
      summary: Remove an item from the cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sku]
              properties:
                sku: { type: string }
      responses:
        "200": { description: Cart contents }
  /api/cart/checkout:
    post:
      tags: [catalog]
      summary: Pay for the cart from the wallet
      responses:
        "201": { description: Purchased }
        "402": { description: Insufficient funds }
  /api/coupons/redeem:
    post:
      tags: [billing]
      summary: Redeem a workspace coupon
      description: |
        Credits the wallet with a coupon issued to this account.
        One redeem per code.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string, example: WELCOME-20 }
      responses:
        "200": { description: Wallet credited }
        "401": { description: Not signed in }
        "404": { description: Unknown coupon }
        "409": { description: Already redeemed }
  /api/billing/grants:
    post:
      tags: [billing]
      summary: Apply a wallet grant
      description: |
        Webhook from the billing provider after a USD load clears.
        `account` is the customer email. `amount_usd` is added to the
        current balance (it is not a replacement).

        Sign the raw JSON body with HMAC-SHA256 and send it as
        `X-Picket-Signature`.
      parameters:
        - in: header
          name: X-Picket-Signature
          schema: { type: string }
          description: HMAC-SHA256 of the raw request body
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [account, amount_usd]
              properties:
                account:
                  type: string
                  format: email
                  example: alex@acme.test
                amount_usd:
                  type: number
                  example: 100
      responses:
        "200":
          description: Grant applied
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  account: { type: string }
                  balance: { type: string, example: "$104.10" }
        "404": { description: Unknown account }
